<nav>
    <div class="links">
        <a href="">Home</a>
        <a href="">Dashboard</a>
        <a href="">logout</a>
    </div>
    <div class="logo"> Your Dashboard</div>
</nav>
<main>
  <div class="formContainer">
    <div class="formheader">
    <h3 class = "formtitle">create new Post</h3>
    <a class= "cancel" href="/dashboard">X</a></div>
<form class ="postForm">
  <div class="mb-3">
    <label for="postTitle" class="form-label">Post Title</label>
    <input type="text" class="form-control" id="postTitle">
  </div>
  <div class="mb-3">
       <label for="postContent">Post Content</label>
    <textarea class="form-control" id="postContent" rows="3"></textarea>
  </div>

  <button id = "postsubmit" type="submit" class="btn btn-primary">Submit</button></div>
</form>
</main>