<nav>
    <div class="links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">logout</a>
    </div>
    <div class="logo"> Your Dashboard</div>
</nav>
<main>
  <div class="formContainer">
    <div class="formheader">
    <h3 class = "formtitle">new Comment</h3>

    <a class= "cancel" href="/dashboard">X</a></div>
<form class ="postForm">
    <input id="PostId" value={{id}} type="hidden" />

  <div class="mb-3">
       <label for="Comment Content">Comment Content</label>
    <textarea class="form-control" id="commentContent" rows="3"></textarea>
  </div>

  <button id = "postsubmit" type="submit" class="btn btn-primary">Submit</button></div>
</form>
</main>
<script src="/js/createComment.js"></script>