<nav>
    <div class="links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">logout</a>
    </div>
    <div class="logo"> Your Dashboard</div>
</nav>
<main class = "dashboardMain">
<a type="button" class="btn btn-primary" href="/createpost">+ New Post</a>

</main>