<nav>
    <div class="links">
        <a href="/dashboard">Dashboard</a>
        <a href="/login">login/signup</a>
    </div>
    <div class="logo"> The Tech Blog</div>
</nav>
<main>
    {{!-- for each --}}
    <div class="post">
        <div class="postheading">
            <h3 class="postname">test content name</h3>
            <p class="postauthor">test content date and author</p>
        </div>
        <div class="postcontent">lorem ipsum etc wetc</div>
    </div>
    {{!-- for each end --}}
</main>