<nav>
    <div class="links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">logout</a>
    </div>
    <div class="logo"> Your Dashboard</div>
</nav>
<main>
  <div class="formContainer">
    <div class="formheader">
    <h3 class = "formtitle">Login</h3>
    <a class= "register" href="/register">Register Instead</a></div>
<form class ="loginForm">
  <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control" id="Username">
  </div>
  <div class="mb-3">
       <label for="password">Password</label>
    <input type="password" class="form-control" id="password" rows="3"></textarea>
  </div>

  <button id = "postsubmit" type="submit" class="btn btn-primary">Submit</button></div>
</form>
</main>